version: "3"

services:
  namenode:
    image: dslab/hadoop-namenode
    container_name: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop/hadoop.env
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.2

  datanode:
    image: dslab/hadoop-datanode
    container_name: datanode
    restart: always
    depends_on:
      - "namenode"
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop/hadoop.env
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.3

  resourcemanager:
    image: dslab/hadoop-resourcemanager
    container_name: resourcemanager
    restart: always
    depends_on:
      - "namenode"
      - "datanode"
    ports:
      - 8088:8088
    env_file:
      - ./hadoop/hadoop.env
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.4

  nodemanager1:
    image: dslab/hadoop-nodemanager
    container_name: nodemanager
    restart: always
    depends_on:
      - "resourcemanager"
    ports:
      - 8042:8042
    env_file:
      - ./hadoop/hadoop.env
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.5

  historyserver:
    image: dslab/hadoop-historyserver
    container_name: historyserver
    restart: always
    depends_on:
      - "resourcemanager"
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    env_file:
      - ./hadoop/hadoop.env
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.6

  hbase-master:
    image: dslab/hbase-hmaster
    container_name: hbase-master
    restart: always
    hostname: hbase-master
    depends_on:
      - "namenode"
      - "datanode"
    env_file:
      - ./hadoop/hadoop.env
      - ./zookeeper/zookeeper.env
      - ./hbase/hbase.env
    environment:
      ZOO_MY_ID: 1
      ZOO_ADMINSERVER_ENABLED: 'false'
      ZOO_SERVERS: server.1=hbase-master:2888:3888;2181 server.2=hbase-regionserver1:2888:3888;2181 server.3=hbase-regionserver2:2888:3888;2181
      HBASE_CONF_hbase_zookeeper_quorum: hbase-master,hbase-regionserver1,hbase-regionserver2
    ports:
      - 16010:16010
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.7

  hbase-regionserver1:
    image: dslab/hbase-hregionserver
    container_name: hbase-regionserver1
    restart: always
    hostname: hbase-regionserver1
    depends_on:
      - "hbase-master"
    env_file:
      - ./hadoop/hadoop.env
      - ./zookeeper/zookeeper.env
      - ./hbase/hbase.env
    environment:
      ZOO_MY_ID: 2
      ZOO_ADMINSERVER_ENABLED: 'false'
      ZOO_SERVERS: server.1=hbase-master:2888:3888;2181 server.2=hbase-regionserver1:2888:3888;2181 server.3=hbase-regionserver2:2888:3888;2181
      HBASE_CONF_hbase_zookeeper_quorum: hbase-master,hbase-regionserver1,hbase-regionserver2
      HBASE_CONF_hbase_regionserver_hostname: hbase-regionserver1
      HDS_CONF_hds_httpserver_port: 8000
    ports:
      - 16030:16030
      - 8000:8000
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.8

  hbase-regionserver2:
    image: dslab/hbase-hregionserver
    container_name: hbase-regionserver2
    restart: always
    hostname: hbase-regionserver2
    depends_on:
      - "hbase-master"
    env_file:
      - ./hadoop/hadoop.env
      - ./zookeeper/zookeeper.env
      - ./hbase/hbase.env
    environment:
      ZOO_MY_ID: 3
      ZOO_ADMINSERVER_ENABLED: 'false'
      ZOO_SERVERS: server.1=hbase-master:2888:3888;2181 server.2=hbase-regionserver1:2888:3888;2181 server.3=hbase-regionserver2:2888:3888;2181
      HBASE_CONF_hbase_zookeeper_quorum: hbase-master,hbase-regionserver1,hbase-regionserver2
      HBASE_CONF_hbase_regionserver_hostname: hbase-regionserver2
      HDS_CONF_hds_httpserver_port: 8001
    ports:
      - 8001:8001
    networks:
      hdrs_network:
        ipv4_address: 172.22.0.9

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver:

networks:
  hdrs_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.22.0.0/16